* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}
header h1 { margin: 1rem;
    font-size: 1.5rem;
    color; navy;
    text-align: center ;
}
