* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: rgb(173, 212, 225);
    color: #0f1010;
    padding: 20px;
}
header {
    background: #5db1e4;
    color: black;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}
header h1 { margin: 1rem;
    font-size: 1.5rem;
    color: rgb(16, 16, 17);
    text-align: center ;
}
form {
    width: 650px;
    background:  white;
    padding: 1rem;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    display: grid;
}
fieldset {
   display: grid;
   grid-gap: auto;
   margin: 1rem; 
   border: 1px solid #ccc;
   padding: 2rem;
}
legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    
} 
label, input, select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
}
label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: right;
    padding: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Playfair Display', serif;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    background: #5db1e4;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover {
    background: #0f1010;
    color: white;
} 
footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #333;
}



